.bg_cover{
    height: 530px;
    border-bottom: 1px solid #141214;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-header{
    padding: 4%;
}
.container-header img {
    border: 7px solid #26b764;
}
.container-header h1,h2{
    color:#fff;
    background:#26b764;
    padding:1%;
}
.container-header .description{
    background-color: rgba(38,183,100,0.68);
    color: #fff;
    padding:5%;
    margin: 10px;
}

